body {
    font-family: 'Times New Roman', Times, serif;
}

#header {
    background-color: gray;
    padding: 2% 0 5% 2%;
}

#header h1 {
    margin: 0;
}

#nav {
    background-color: lightgray;
    float: left;
    width: 23%;
    padding: 2% 0 2% 1%;
}

ul.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#aside {
    float: right;
    width: 23%;
    padding: 1% 0 1% 1%;
    background-color: lightgray;
}

#content {
    float: left;
    width: 50%;
    padding: 1%;
}